/*CSS reset settings here*/
*{
    
    margin: 10px;
    padding:5px;
   }
   #wrapper{
    width: 100%;
    height: 100%;
    background-color: silver;
    margin: 5px auto;
    display: block;

   }
   #header{
    min-height: 110px;
    background-color: green;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
   }
   #main_content{
    min-height: 400px;
    width: 1025px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    
   }
   .subcontents{
       display: inline-block;
    min-height: 200px;
    width: 220px;
    background-color: yellow;
   }
   #advertisement{
    min-height: 120px;
    width: 730px;
    background-color: purple;
   }
   